@model IEnumerable<Ro_VideoGameCatalogue.Models.Videogame>

@{
    ViewData["Title"] = "Index";
}


<h1>Recent Reviews</h1>
@*  onclick="location.href='@Url.Action("Create")'" *@
<p>
    <button type="button" class="btn btn-primary" id="Create">Submit a new review</button>
</p>

<script>
    var VideoGameData = [];
    var EditButtons = [];
    var DetailsButtons = [];
    var DeleteButtons = [];
    @foreach (var item in Model){
        var title = item.Title;
        var date = item.ReleaseDate.Date.ToShortDateString();
        var genre = item.Genre;
        var ID = item.ID;
        @:VideoGameData.push(["@title", "@date", "@genre", "@ID"]);
        // @:EditButtons.push("<td><button class='Edit' id='" + "@item.ID" + "'>Edit</button>");
        // @:DetailsButtons.push("<button class='Details' id='" + "@item.ID" + "'>Details</button>");
        // @:DeleteButtons.push("<button class='Delete' id='" + "@item.ID" + "'>Delete</button></td>");
        
    }

    $(document).ready(function (){
        var editID = 0;
        $('#videoReviewData').DataTable(
            {
                data: VideoGameData,
                rowId: [3],
                createdRow: function (row, data) {
                    var editButton = "<td><button class='Edit' id='" + data[3] + "'>Edit</button>";
                    var detailsButton = "<button class='Details' id='" + data[3] + "'>Details</button>";
                    var deleteButton = "<button class='Delete' id='" + data[3] + "'>Delete</button></td>";
                    $('td:last-child', row).after($(editButton + detailsButton + deleteButton));
                },
                drawCallback: function (settings) {
                        $(".Edit").on("click", function () {
                            console.log("Hello");
                            var id = $(this).attr('id');
                            var id_num = parseInt(id);
                            editID = id_num;
                            $(".modal").filter("#editModal").show();
                            $.ajax({
                                url: '@Url.Action("Edit")',
                                type: 'GET',
                                data: { id: id_num },
                                Cache: false
                            }).done(function (result) {
                                $(".modal-body").filter("#edit-modal-body").html(result);
                            });
                        });
                }
            }
        );
        $('thead th:last-child').after("<th> CRUD Buttons </th>");

        
        

        var modal = document.getElementsByClassName("modal");
        var createBtn = document.getElementById("Create");
        var closeBtn = document.getElementsByClassName("Close");
        var submitBtn = document.getElementById("Submit-Create");
        var editSubmitBtn = document.getElementById("Submit-Edit");
        var interior = document.getElementsByClassName("modal-body");
        $(modal).hide();
        $(createBtn).on("click", function () {
            $(modal).filter("#createModal").show();
             $.ajax({
                    url: '@Url.Action("Create")',
                    type: 'GET',
                    cache: false,
                    error: function (data) {
                        alert("fail");
                    }
                }).done(function (result) {
                    $(interior).filter('#create-modal-body').html(result);
                });
        });

        $(closeBtn).on("click", function () {
           $(modal).hide();
        });

        $(submitBtn).on("click", function () {
            var title = $("#title").val();
            var date = $("#releasedate").val();
            var genre = $("#rating").val();
            $.ajax({
                url: '@Url.Action("Pass")',
                type: 'POST',
                data: { title: title, str_date: date, rating: genre },
                Cache: false
            }).done(function (result) {
                location.reload();
            });
        });

        $(editSubmitBtn).on("click", function () {
           var title = $("#Edit-Title").val();
           var date = $("#Edit-Date").val();
           var genre = $("#Edit-Rating").val();
           
           $.ajax({
              url: '@Url.Action("EditPass")',
              type: 'POST',
              data: { id:editID, title: title, str_date: date, rating: genre },
              Cache: false
              }).done(function (result) {
                    location.reload();
              });
            });

    });
</script>

<div >
<table class="table" id="videoReviewData">
    <thead>
        <tr>
            <th> Name </th>
            <th> Date Released </th>
            <th> Rating </th>
            @* <th> ID </th> *@
        </tr>
    </thead>
</table>
</div>


<div class="modal" tabindex="-1" role="dialog" id="createModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create</h5>
                    <span aria-hidden="true">&times;</span>
            </div>
            <div class="modal-body" id="create-modal-body">
                
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" id="Submit-Create"> Submit </input>
                <button type="button" class="btn btn-secondary Close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="editModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit</h5>
                <span aria-hidden="true">&times;</span>
            </div>
            <div class="modal-body" id="edit-modal-body">
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" id="Submit-Edit"> Submit </input>
                <button type="button" class="btn btn-secondary Close" data-dismiss="modal" id="Close">Close</button>
            </div>
        </div>
    </div>
</div>


<table class="table">
   @*  <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th></th>
        </tr>
    </thead> *@
    <tbody>
           
@* @foreach (var item in Model) {
   
           <tr>
             <div class="card text-white bg-primary mb-3" style="max-width: 100rem;">
              <div class="card-header">@Html.DisplayFor(modelItem => item.Title)</div>
                    <div class="card-body">
                        <h4 class="card-title">@Html.DisplayFor(modelItem => item.ReleaseDate)</h4>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Genre)</p>
                    </div>
                <span class="badge bg-primary rounded-pill">
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </span>
                </div>
            </tr>
}            *@
    </tbody>
</table>
