@model IEnumerable<Ro_VideoGameCatalogue.Models.Videogame>

@{
    ViewData["Title"] = "Index";
}


<h1>Recent Reviews</h1>
@*  onclick="location.href='@Url.Action("Create")'" *@
<p>
    <button type="button" class="btn btn-primary" id="Create">Submit a new review</button>
</p>

<script>
    var VideoGameData = [];
    var EditButtons = [];
    var DetailsButtons = [];
    var DeleteButtons = [];
    @foreach (var item in Model){
        var title = item.Title;
        var date = item.ReleaseDate.Date.ToShortDateString();
        var genre = item.Genre;
        @:VideoGameData.push(["@title", "@date", "@genre"]);
        @:EditButtons.push("<td><button class='Edit' id='" + "@item.ID" + "'>Edit</button>");
        @:DetailsButtons.push("<button class='Details' id='" + "@item.ID" + "'>Details</button>");
        @:DeleteButtons.push("<button class='Delete' id='" + "@item.ID" + "'>Delete</button></td>");
        
    }

    $(document).ready(function (){
        $('#videoReviewData').DataTable(
            {
                data: VideoGameData
            }
        );
        $('thead th:last-child').after("<th> CRUD Buttons </th>");

        var tableRows = $("#tr td:last-child");
        for (let i = 0; i < tableRows.length ; i++) {
          $(tableRows[i]).after(
                    EditButtons[i] + DetailsButtons[i] + DeleteButtons[i]
                );
        };
        

        var modal = document.getElementById("Modal");
        var createBtn = document.getElementById("Create");
        var closeBtn = document.getElementById("Close");
        var submitBtn = document.getElementById("Submit");
        var interior = document.getElementsByClassName("modal-body");
        $(modal).hide();
        $(createBtn).on("click", function () {
            $(modal).show();
             $.ajax({
                    url: '@Url.Action("Create")',
                    type: 'GET',
                    cache: false,
                    error: function (data) {
                        alert("fail");
                    }
                }).done(function (result) {
                    $(interior).html(result);
                });
        });

        $(closeBtn).on("click", function () {
            $(modal).hide();
        });

        $(submitBtn).on("click", function () {
            var title = $("#title").val();
            var date = $("#releasedate").val();
            var genre = $("#rating").val();
            $.ajax({
                url: '@Url.Action("Pass")',
                type: 'POST',
                data: { title: title, str_date: date, rating: genre },
                Cache: false
            }).done(function (result) {
                location.reload();
            });
        });

        $(".Edit").on("click", function () {
            console.log("Hello");
            var id = $(this).attr('id');
            var id_num = parseInt(id);
            console.log(id_num);
            $.ajax({
                url: '@Url.Action("Edit")',
                type: 'GET',
                data: { id: id_num },
                Cache: false
            });
        });


    });
</script>

<div >
<table class="table" id="videoReviewData">
    <thead>
        <tr>
            <th> Name </th>
            <th> Date Released </th>
            <th> Rating </th>
        </tr>
    </thead>
</table>
</div>


<div class="modal" tabindex="-1" role="dialog" id="Modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create</h5>
                    <span aria-hidden="true">&times;</span>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" id="Submit"> Submit </input>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="Close">Close</button>
            </div>
        </div>
    </div>
</div>



<table class="table">
   @*  <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th></th>
        </tr>
    </thead> *@
    <tbody>
           
@* @foreach (var item in Model) {
   
           <tr>
             <div class="card text-white bg-primary mb-3" style="max-width: 100rem;">
              <div class="card-header">@Html.DisplayFor(modelItem => item.Title)</div>
                    <div class="card-body">
                        <h4 class="card-title">@Html.DisplayFor(modelItem => item.ReleaseDate)</h4>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Genre)</p>
                    </div>
                <span class="badge bg-primary rounded-pill">
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </span>
                </div>
            </tr>
}            *@
    </tbody>
</table>
